{% extends "base.html" %}
{% block title %}SeeStarz's Website{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<main class="flex justify-center m-[20px]">
  <div class="flex w-[940px] gap-[20px]">
    <div class="flex flex-col gap-[20px] w-[700px]">
      {% include 'index/intro.html' %}
      {% include 'index/pwn.html' %}
      {% include 'index/system_details.html' %}
      {% include 'index/recent_games.html' %}
      {% include 'index/active_projects.html' %}
    </div>
    <div class="flex flex-col gap-[20px] w-[220px]">
      {% include 'index/hyperlinks.html' %}
    </div>
  </div>
</main>
{% include 'footer.html' %}
{% endblock content %}
