{% extends "base.html" %}
{% block title %}SeeStarz's Website{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<p style="font-size: 96px; background-color: red; text-align: center;">Website Under Construction</p>
<main>
  <div>
    <div>
      {% include 'intro.html' %}
      {% include 'pwn.html' %}
      {% include 'system_details.html' %}
      {% include 'recent_games.html' %}
      {% include 'active_projects.html' %}
    </div>
    <div>
      {% include 'hyperlinks.html' %}
      <a href="https://data.typeracer.com/pit/profile?user=mfahrim&ref=badge" target="_top">
        <img src="https://data.typeracer.com/misc/badge?user=mfahrim" border="0" alt="TypeRacer.com scorecard for user mfahrim"/>
      </a>
    </div>
  </div>
</main>
{% include 'footer.html' %}
{% endblock content %}
