{% extends 'index/titlecard.html' %}
{% set title_type='h2' %}
{% block title %}
Active Projects
{% endblock title %}

{% block content %}
<ul>
  <li>
    <a href="/">
      <h3 class="text-secondary text-[24px]"><span class="font-bold">seestarz.my.id</span> (this website)</h3>
    </a>
    <p class="whitespace-pre-line">Features planned:
    - A background that isn't flat color
    - Background animation (maybe)
    - Typeracer stats
    - Animated pwntools script
    - Blog page</p>
  </li>
</ul>
{% endblock content %}
