{% extends 'index/titlecard.html' %}

{% set title_type='h1' %}
{% block title %}
Welcome!
{% endblock title %}

{% block content %}
{% include 'index/intro/profile.html' %}
{% include 'index/intro/archjoke.html' %}

<p>
I'm a computer science student that tends to do and learn random things for fun, this website is one of them.
I'm someone that likes to understand how things work, sometimes breaking them in the process, and sometimes reinvent the wheel and make it worse.
Here's some other things:
</p>
<ul class="list-disc pl-[24px]">
  <li>I use arch as a daily driver.</li>
  <li>I like low level things, they're fun.</li>
  <li>I do CTFs sometimes.</li>
  <li>I script a little.</li>
  <li>I make software sometimes, that includes games.</li>
  <li>I use python as my primary scripting.</li>
  <li>I keep hyping rust but I suck at rust.</li>
  <li>I play video games.</li>
  <li>I suck at design and art.</li>
</ul>
<p class="italic text-[8px]">Have I mentioned that I use Arch? (btw)</p>
{% endblock content %}
