<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/css/base.css">
    <link href='https://fonts.googleapis.com/css?family=Atkinson Hyperlegible' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <!-- Theming stylesheets -->
    <link rel="stylesheet" href="/css/dark.css" class="theme">
    <link rel="stylesheet" href="/css/dark-mc.css" class="theme">
    <link rel="stylesheet" href="/css/dark-hc.css" class="theme">
    <link rel="stylesheet" href="/css/light.css" class="theme">
    <link rel="stylesheet" href="/css/light-mc.css" class="theme">
    <link rel="stylesheet" href="/css/light-hc.css" class="theme">

    <script src="main.js" defer></script>

    <!-- Extra page specific headers -->
    {% block morehead %}{% endblock %}
  </head>
  <body>
    {% block content %}
    <p>Sorry, this page seems to be empty.</p>
    {% endblock content %}
  </body>
</html>
