<section>
  <h1>System Details</h1>
  <ul>
    <li><span>CPU:</span> Ryzen 5 5600H</li>
    <li><span>GPU:</span> RTX 3050 Mobile</li>
    <li><span>RAM:</span> 16GB</li>
    <li><span>OS:</span> GNU/Linux</li>
    <li><span>Distro:</span> Arch Linux</li>
    <li><span>Compositor:</span> Hyprland</li>
    <li><span>Terminal:</span> Kitty</li>
    <li><span>Editor:</span> Neovim</li>
    <li><span>Font:</span> JetBrainsMonoNerdFont</li>
    <li><span>Browser:</span> Vivaldi</li>
  </ul>
</section>
