{% extends 'index/titlecard.html' %}
{% set title_type='h2' %}
{% block title %}
System Details
{% endblock title %}

{% block content %}
<ul>
  <li><span class="font-bold">CPU:</span> Ryzen 5 5600H</li>
  <li><span class="font-bold">GPU:</span> RTX 3050 Mobile</li>
  <li><span class="font-bold">RAM:</span> 16GB</li>
  <li><span class="font-bold">OS:</span> GNU/Linux</li>
  <li><span class="font-bold">Distro:</span> Arch Linux</li>
  <li><span class="font-bold">Compositor:</span> Hyprland</li>
  <li><span class="font-bold">Terminal:</span> Kitty</li>
  <li><span class="font-bold">Editor:</span> Neovim</li>
  <li><span class="font-bold">Font:</span> JetBrainsMonoNerdFont</li>
  <li><span class="font-bold">Browser:</span> Vivaldi</li>
</ul>
{% endblock content %}
