<div class="w-[220px] h-[48px] rounded-[12px] inset-shadow-8px
  {% if state|default('passive') == 'active' %}
    bg-secondarycontainer
  {% elif state|default('passive') == 'passive' %}
    bg-primarycontainer
  {% else %}
    bg-surfacecontainerhighest
  {% endif %}
">
  <li>
    <a {% if link is defined %}href="{{ link }}"{% endif %}>
      <p class="font-bold text-[32px] text-center
        {% if state|default('passive') == 'active' %}
          text-onsecondarycontainer
        {% elif state|default('passive') == 'passive' %}
          text-onprimarycontainer
        {% else %}
          text-onsurfacevariant opacity-40
        {% endif %}"
      >
        {{ label }}
      </p>
    </a>
  </li>
</div>
